#clock-face {
  position: relative;
  margin: auto;
  height: 50vw;
  width: 50vw;
  background: url("https://images.unsplash.com/photo-1702529939203-04c666ee2b7f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDU1MDE1ODJ8&ixlib=rb-4.0.3&q=85")
    no-repeat fixed center;
  background-size: 100%;
}
#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  top: 27%;
  left: 49%;
  height: 23%;
  width: 2%;
  opacity: 0.8;
}
#minute {
  top: 20%;
  left: 49.2%;
  height: 30%;
  width: 1.5%;
  opacity: 0.8;
}

#second {
  top: 14%;
  left: 49.5%;
  height: 36%;
  width: 1%;
  opacity: 0.8;
}
